services:

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"  # Map host port 8080 to container port 8080
    depends_on:
      - student-service
      - swagger-application
      - payment-service
      - openai-service
      - service-registry
      - redis-service
      - redis-insight-service
      - zipkin
      - spring-config-server
    environment:
      EUREKA_CLIENT_SERVICE_URL: http://service-registry:8761/eureka
    profiles:
      - ${SERVICE_START_PROFILE}
    networks:
      - mb-network

  student-service:
    build:
      context: ./student-service
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8081:8081"  # Map host port 8081 to container port 8080
    depends_on:
      - rabbitmq
      - postgres
      - keycloak
      - service-registry
      - spring-config-server
    environment:
      EUREKA_CLIENT_SERVICE_URL: http://service-registry:8761/eureka
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
    profiles:
      - ${SERVICE_START_PROFILE}
    networks:
      - mb-network

  swagger-application:
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
    build:
      context: ./swagger-application
      dockerfile: Dockerfile
    ports:
      - "8082:8082"  # Map host port 8082 to container port 8080
    depends_on:
      - service-registry
      - spring-config-server
    environment:
      EUREKA_CLIENT_SERVICE_URL: http://service-registry:8761/eureka
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      CONFIG_SERVER_URI: http://spring-config-server:8888
    profiles:
      - ${SERVICE_START_PROFILE}
    networks:
      - mb-network

  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    ports:
      - "8083:8083"  # Map host port 8083 to container port 8080
    depends_on:
      - rabbitmq
      - postgres
      - keycloak
      - service-registry
      - spring-config-server
    environment:
      EUREKA_CLIENT_SERVICE_URL: http://service-registry:8761/eureka
      DB_HOST: postgres
      DB_PORT: 5432
    profiles:
      - ${SERVICE_START_PROFILE}
    networks:
      - mb-network

  openai-service:
    build:
      context: ./openai-service
      dockerfile: Dockerfile
    ports:
      - "8084:8084"  # Map host port 8084 to container port 8080
    depends_on:
      - service-registry
      - spring-config-server
    environment:
      EUREKA_CLIENT_SERVICE_URL: http://service-registry:8761/eureka
    profiles:
      - ${SERVICE_START_PROFILE}
    networks:
      - mb-network

  service-registry:
    build:
      context: ./service-registry
      dockerfile: Dockerfile
    ports:
      - "8761:8761"  # Map host port 8761 to container port 8761
    profiles:
      - ${SERVICE_START_PROFILE}
    networks:
      - mb-network

  spring-config-server:
    build:
      context: ./spring-config-server
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8888:8888"  # Map host port 8888 to container port 8888
    depends_on:
      - service-registry
    environment:
      EUREKA_CLIENT_SERVICE_URL: http://service-registry:8761/eureka
    profiles:
      - ${SERVICE_START_PROFILE}
    networks:
      - mb-network

  rabbitmq:
    image: rabbitmq:4.2.1-management
    restart: always
    container_name: test-rabbitmq
    ports:
      - "5673:5672" # default ports 5672:5672
      - "15673:15672" # default ports 15672:15672
      # environment:
      # RABBITMQ_DEFAULT_USER: guest error: RABBITMQ_DEFAULT_USER is set but deprecated
      # RABBITMQ_DEFAULT_PASS: guest error: RABBITMQ_DEFAULT_PASS is set but deprecated
    networks:
      - mb-network

  postgres:
    image: postgres:18-alpine
    restart: always
    container_name: postgres-db
    ports:
      - "5433:5432" # default ports 5432:5432
    environment:
      POSTGRES_DB: ${POSTGRESQL_DB}
      POSTGRES_USER: ${POSTGRESQL_USER}
      POSTGRES_PASSWORD: ${POSTGRESQL_PASS}
    networks:
      - mb-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.3.5
    command: start-dev
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 9090
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KC_HTTP_PORT: 9090
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/${POSTGRESQL_DB}
      KC_DB_USERNAME: ${POSTGRESQL_USER}
      KC_DB_PASSWORD: ${POSTGRESQL_PASS}
    ports:
      - "127.0.0.1:9090:9090"
    restart: always
    depends_on:
      - postgres
    profiles:
      - ${SERVICE_START_PROFILE}
    networks:
      - mb-network

  redis-service:
    image: redis:8.4
    container_name: redis-service
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - mb-network

  redis-insight-service:
    image: redis/redisinsight:latest
    restart: always
    container_name: redis-insight-service
    ports:
      - "5540:5540"
    volumes:
      - redis-insight:/data
    networks:
      - mb-network

  # Note: openzipkin/zipkin-slim is mirrored as ghcr.io/openzipkin/zipkin-slim
  # The zipkin process services the UI, and also exposes a POST endpoint that
  # instrumentation can send trace data to.
  zipkin:
    image: ghcr.io/openzipkin/zipkin-slim:master
    container_name: zipkin
    # Environment settings are defined here https://github.com/openzipkin/zipkin/blob/master/zipkin-server/README.md#environment-variables
    environment:
      - STORAGE_TYPE=mem
      # Uncomment to enable self-tracing
      # - SELF_TRACING_ENABLED=true
      # Uncomment to increase heap size
      # - JAVA_OPTS=-Xms128m -Xmx128m -XX:+ExitOnOutOfMemoryError
    ports:
      # Port used for the Zipkin UI and HTTP Api
      - "9411:9411"
    # Uncomment to enable debug logging
    # command: --logging.level.zipkin2=DEBUG
    networks:
      - mb-network

volumes:
  redis-data:
  redis-insight:
  postgres_data:

networks:
  mb-network:
    driver: bridge